body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #2a2a2a;
    user-select: none;
}

.container {
    text-align: center;
    background-color: #4b4b4b;
    border-radius: 8px;
    padding: 30px 100px;
    box-shadow: 0 4px 10px rgba(16, 16, 16, 0.5);
}

.container > * {
    margin: 8px
}

h1 {
    color: #f4f4f4;
}

.counter {
    font-size: 24px;
    margin: 40px 0;
    color: #ffffff;
}

p {
    color: #f0f0f0;
}

.reset {
    background-color: #2a2a2a;
    color: #f0f0f0;
    border: 2px solid rgb(120, 120, 120);
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    margin-top: 15px;
}

.reset:hover {
    background-color: #383838;
    border: 2px solid rgb(141, 141, 141);
}

.github {
    text-align: center;
    height: 60px;
    width: 60px;
    position: absolute;
    top: 10px;
    left: 10px;
    transition: 0.3s;
    user-select: none;
    pointer-events: none;
    z-index: 10;
    color: #747474;
    text-decoration: none;
}

.github:hover svg {
    scale: 1.05;
}

.github svg {
    pointer-events: all;
    transition: 0.3s;
    fill: #747474;
}
